.page-catalog .catalog-filter__color-checkbox .icon:before {
    color: #fff;
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    text-shadow: 0px 0px 1px black;
    text-align: center;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    font-size: 14px;
    line-height: 33px;
}
.page-catalog .catalog-filter__color-checkbox input:checked + .icon:before {
    content: '\f00c';
}
.page-catalog .catalog .col-1 {
    z-index: 1000!important;
}