/* sale.basket.basket   template:basket */
.item__detailed-link {
    display: block;
    font: 16px/22px "Lato-Semibold";
    text-align: left;
    text-decoration: none;
    color: #000;
}
.page-cart .cart-list__item-list .item__info-container b.item__property {
    margin-top: 6px;
    display: block;
    font: 13px/22px "Lato-Regular";
    text-align: left;
    color: #000;
}
/* reset b:nth-of-type */
.page-cart .cart-list__item-list .item .column:nth-of-type(2) b:nth-of-type(1),
.page-cart .cart-list__item-list .item .column:nth-of-type(2) b:nth-of-type(2),
.page-cart .cart-list__item-list .item .column:nth-of-type(2) b:nth-of-type(3),
.page-cart .cart-list__item-list .item .column:nth-of-type(3) b:nth-of-type(1),
.page-cart .cart-list__item-list .item .column:nth-of-type(3) b:nth-of-type(2),
.page-cart .cart-list__item-list .item .column:nth-of-type(3) b:nth-of-type(3),
.page-cart .cart-list__item-list .item .column:nth-of-type(4) b {
    font: 16px/28px "Lato-Medium";
    text-decoration: none;
    color: #000;
}

/* Товар */
.item__discount-percent,
.page-cart .cart-list__item-list .item .column:nth-of-type(2) b.item__discount-percent,
.page-cart .cart-list__item-list .item .column:nth-of-type(3) b.item__discount-percent {
    font: 16px/28px "Lato-Medium";
    color: #bb1a23;
}
.item__price-dashed,
.page-cart .cart-list__item-list .item .column:nth-of-type(2) b.item__price-dashed,
.page-cart .cart-list__item-list .item .column:nth-of-type(3) b.item__price-dashed {
    font: 16px/28px "Lato-Medium";
    text-decoration: line-through;
    color: #a1a1a1;
}
.item__price,
.page-cart .cart-list__item-list .item .column:nth-of-type(3) b.item__price {
    font: 16px/28px "Lato-Medium";
    text-decoration: none;
    color: #000;
}
.item__summ,
.page-cart .cart-list__item-list .item .column:nth-of-type(4) b.item__summ {
    font: 16px/28px "Lato-Medium";
    color: #606da6;
}
.page-cart .item input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}
.page-cart .item input[type=number]::-webkit-inner-spin-button, 
.page-cart .item input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
.page-cart .cart-list__item-list .item-amount-controls {
    position: relative;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    width: 80px;
    height: 30px;
    padding: 0;
    text-align: center;
    background: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 23px;
}
.page-cart .cart-list__item-list .item-amount-controls__amount {
    width: 100%;
    height: 100%;
    font-family: 'Lato-Black', sans-serif;
    font-size: 12px;
    text-align: center;
    color: #001732;
    background-color: transparent;
    cursor: default;
}
.page-cart .cart-list__item-list .item-amount-controls__btn-decrease {
    position: absolute;
    top: 4px;
    left: 11px;
    margin: 0;
    padding: 0 4px;
    color: #a1a1a1;
    background: transparent;
    cursor: pointer;
}
.page-cart .cart-list__item-list .item-amount-controls__btn-increase {
    position: absolute;
    top: 4px;
    right: 8px;
    margin: 0;
    padding: 0 4px;
    color: #a1a1a1;
    background: transparent;
    cursor: pointer;
}
.page-cart .cart-list__item-list .item-amount-controls button:hover {
    color: #001732;
}

/* Переключение цвета */
.basket-item-property,
.basket-item-property-custom {
    margin-top: 10px;
}
.page-cart .basket-item-property-scu-image li {
    position: relative;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 31px;
    height: 31px;
    margin: 0;
    margin-top: 8px;
    margin-right: 8px;
    background: transparent;
    border: none;
    cursor: pointer;
}
.page-cart .basket-item-property-scu-image ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 160px;
}
.page-cart .basket-item-property-scu-image .radiobutton-indicator,
.page-cart .basket-item-property-scu-image .basket-item-scu-item-inner {
    position: absolute;
    top: 4px;
    left: 4px;
    display: block;
    width: 23px;
    height: 23px;
    background-color: transparent;
}
.page-cart .basket-item-property-scu-image .basket-item-scu-item-inner::before,
.page-cart .basket-item-property-scu-image .radiobutton-indicator::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 29px;
    height: 29px;
    border: 1px solid #c0cfda;
}
.page-cart .basket-item-property-scu-image .basket-item-scu-item-inner:hover::before,
.page-cart .basket-item-property-scu-image .radiobutton-indicator:hover::before {
    border: 1px solid #63aa28;
}
.page-cart .basket-item-property-scu-image li.selected .basket-item-scu-item-inner::before,
.page-cart .basket-item-property-scu-image li.selected .radiobutton-indicator::before {
    top: -4px;
    left: -4px;
    width: 31px;
    height: 31px;
    border: 2px solid #63aa28;
}

/* Переключение размера */
.page-cart .basket-item-property-scu-text li,
.page-cart .card-item-info__choose-size li {
    margin-top: 8px;
    margin-right: 11px;
    margin-left: 0;
    border: none;
}
.page-cart .basket-item-property-scu-text li span,
.page-cart .card-item-info__choose-size li span {
    position: relative;
    box-sizing: border-box;
    padding: 0 4px 2px;
    font: 15px "Lato-Regular";
    cursor: pointer;
}
.page-cart .basket-item-property-scu-text li.selected span,
.page-cart .card-item-info__choose-size li.selected span {
    color: #c3a37e;
}
.page-cart .basket-item-property-scu-text li.selected span::after,
.page-cart .card-item-info__choose-size li.selected span::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 2px;
    width: calc(100% - 4px);
    height: 1px;
    background-color: #ddcbb6;
    border-bottom: 1px solid #f4eee7;
}

/* summary */
.page-cart .summary__btn-continue {
    vertical-align: top;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 45px;
    width: 171px;
    font: 12px "Lato-Bold";
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border-radius: 23px;
}